*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

.nav--wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 10%;
    padding-top: 1rem;
}

.nav--wrap div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#home--logo--img{
    width: 3rem;
    height: 3rem;
}

.nav--button{
    cursor: pointer;
    margin: 0 1.3rem;  
}

.nav--login--button{
    background-color: white;
    border-radius: 5rem;
    padding: 0.7rem 1rem;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.nav--login--button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#home--logo{
    cursor: pointer;
}
#logo--text{
    font-size: 1.4rem;
    font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.home--banner{
    color: white;
    background-color: #404eed;
    background-image: url("../center_bg_landing_header.svg");
    height: 87vh;
    font-family: 'Heebo', sans-serif;
    max-width: 100%; 
    overflow: hidden;

}

.left--right--banner{
    height: inherit;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
}
#home--img--left{
    margin-left: -17%;
    margin-top: 9%;
    min-width: 300px;
    max-width: 700px;
}
#home--img--right{
    margin-right: -17%;
    margin-top: 9%;
    min-width: 300px;
    max-width: 700px;
}

#home--body{
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    position: absolute;
    width: 800px;
    margin-bottom: 100px;
}
#home--text--wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
#home--body--heading{
    font-family: 'Heebo', sans-serif;
    font-size: 4rem;
    margin-top: 110px;
}


.home--card--one{
    display: flex;
    height: 95vh;
    padding: 170px;
    justify-content: space-between;
    align-items: center;
    color: #23272a;
    
}
.home--card--two{
    display: flex;
    height: 95vh;
    padding: 170px;
    justify-content: space-between;
    align-items: center;
    color: #23272a;
    background-color: #f6f6f6;
}

#card--img--one{
    max-height: 60vh;
}

#card--text--one{
    height: 60vh;
    max-width: 70vh;
    padding: 30px 54px;
    
}

.card--head{
    font-size: 50px;
    font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card--text{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 45px;
    font-size: 20px;
}

.home--card--four{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 170px;
    align-items: center;
    color: #23272a;
    background-color: #f6f6f6;
    text-align: center;
}
#home--body--foot{
    height: 100px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;

}
#home--foot--text{
    font-style: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url(../tiny_stars_landing.svg);
    font-size: 40px;
    font-weight: bold;
    max-width: 70rem;
    padding: 15px;
}

#home--foot{
    height: 70vh;
    background-color: #23272a;
    padding: 5rem 10rem;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content:space-between;
}

#imagine{
    color: #5865f2;
    font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    max-width: 10rem;
    font-weight:bold;
}

#select--country{
    display: flex;
}
#usa--flag{
    margin-top: 10px;
    width: 40px;
}
#usa--text{
    padding-left: 10px;
    margin-top: 15px;
    color:#f6f6f6;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.foot--col{
    display: flex;
    flex-direction: column;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.foot--col--head{
    color: #5865f2;
}

.foot--col--text{
    color: #f6f6f6;
}




#home--btns{
    display: flex;
    justify-content: center;
    z-index: 9;
    margin-top: 50px;
    max-width: 100%;
    min-width: 10%;
}
#open--in, #download--win{
    margin: 0.5rem 2rem;
    border-radius: 2.5rem;
    width: 18rem;
    height: 3.5rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#open--in:hover , #download--win:hover{
    transform: scale(1.1);
    
}
#download--win img{
    height: 1.5rem;
}
#download--win{
    background-color: white;
    font-size: 18px;
    
}
#open--in{
    background-color: #23272a;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

@media (max-width:500px) {
   
    #home--img--right{
        display: none;
    }
    #home--img--left{
        margin-top: 70%;
    }
}