*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

.nav--wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 10%;
    padding-top: 1rem;
}

.nav--wrap div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#home--logo--img{
    width: 3rem;
    height: 3rem;
}

.nav--button{
    cursor: pointer;
    margin: 0 1.3rem;  
}

.nav--login--button{
    background-color: white;
    border-radius: 5rem;
    padding: 0.7rem 1rem;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.nav--login--button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#home--logo{
    cursor: pointer;
}
#logo--text{
    font-size: 1.4rem;
    font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.home--banner{
    color: white;
    background-color: #404eed;
    background-image: url("../center_bg_landing_header.svg");
    height: 87vh;
    font-family: 'Heebo', sans-serif;
    max-width: 100%; 
    overflow: hidden;

}

.left--right--banner{
    height: inherit;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    
}
#home--img--left{
    max-height: 350px;
    margin-left: -17%;
    margin-top: 14%;
}
#home--img--right{
    max-height: 350px;
    margin-right: -17%;
    margin-top: 14%;
}

#home--body{
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    position: absolute;
    width: 800px;
}
#home--text--wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
#home--body--heading{
    font-family: 'Heebo', sans-serif;
    font-size: 4rem;
}


.home--card--one{
    display: flex;
    height: 95vh;
    padding: 170px;
    justify-content: space-between;
    align-items: center;
    color: #23272a;
    
}
.home--card--two{
    display: flex;
    height: 95vh;
    padding: 170px;
    justify-content: space-between;
    align-items: center;
    color: #23272a;
    background-color: #f6f6f6;
}

#card--img--one{
    height: 60vh;
}

#card--text--one{
    height: 60vh;
    max-width: 70vh;
    padding: 30px 54px;
    
}

.card--head{
    font-size: 50px;
    font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card--text{
    font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 45px;
    font-size: 20px;
}

.home--card--four{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 170px;
    align-items: center;
    color: #23272a;
    background-color: #f6f6f6;
    text-align: center;
}
